:root {
  --theme:#20062e;
  --blue:#18b2de;
  --white:#fff;
  --grey:#d7d7d7;
  --purple-grey:#8f8297;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(#474bff 4px, transparent 4px), radial-gradient(#474bff 4px, transparent 4px);
  background-size: 63px 63px;
  background-position: 0 0, 31.5px 31.5px;
  background-color: #47d3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
